{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login_container">
  <h2 style="color: blue;">Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-danger">Login</button>
  </form>
  <br>
  <a  class="account_signup_login" style="color: blue;" href="{% url 'accounts:signup' %}">Sign Up</a>
  <br>
  <br>
  <p style="text-align:center;"><img  class="stadium2" src="{% static 'media/stadium2.jpg' %}" alt="Great American Ball Park" height="25%" width="30%" vertical-align:middle></p>
</div>

{% endblock %}