{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="player_container">
<h1>{{player.first_name}} {{player.last_name}}</h1>
<p>Team: {{ team_full }}</p>
<p>Postion: {{ position }}</p>
<p>Bats: {{ bats }}</p>
<p>Throws: {{ throws }}</p>
<p>Birth Country: {{ birth_country }}</p>
<p>Date of Birth: {{ birth_date }}</p>
<p>Height: {{ height_feet }} feet {{ height_inches }} inches</p>
<br>
<a class="edit_player" href="{% url 'players_and_teams:edit_player' player_id=player.id %}"> Edit Player</a>
<br>
<br>
<form name="delete_player" method="POST" action="{% url 'players_and_teams:delete_player' player_id=player.id %}">
    {% csrf_token %}
    <input class="delete_player" type="submit" value="Delete Player" />
  </form>
</div>
{% endblock %}