{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="home_container">
    <h1 class="home_greeting">Hi {{ user.username }}!</h1>
    <br>
    <p><a class="player_list_home" href="{% url 'players_and_teams:player_list' %}">Favorite Players and Teams</a></p>
    <img src="{% static 'media/fisheye_stadium.jpg' %}" alt="Baseball Stadium" width="100%" height="50%">
    </div>
  {% else %}
    <div class="home_not_login">
    <p class="not_login_warn">You are not logged in!</p>
    <img src="{% static 'media/stadium.jpg' %}" alt="Dodger Stadium" width="100%" height="50%">
  </div>
  
  {% endif %}
{% endblock %}