{% extends 'base.html' %}

{% block content %}
<h1>{{player.first_name}} {{player.last_name}}</h1>
<p>Team: {{ team_full }}</p>
<p>Postion: {{ position }}</p>
<p>Bats: {{ bats }}</p>
<p>Throws: {{ throws }}</p>
<p>Birth Country: {{ birth_country }}</p>
<p>Date of Birth: {{ birth_date }}</p>
<p>Height: {{ height_feet }} feet {{ height_inches }} inches</p>
<br>
<a href="{% url 'edit_player' player_id=player.id %}"> Edit Player</a>
<br>
<br>
<form name="delete_player" method="POST" action="{% url 'delete_player' player_id=player.id %}">
    {% csrf_token %}
    <input type="submit" value="Delete Player" />
  </form>
<br>
<h1>Search</h1>
<p>Enter a Subject to Search for Articles</p>
<form type="get" action="{% url 'news_detail' %}" accept-charset="utf-8">
    <input type="search" id="q" name="q" placeholder="Search..."/>
    <button type="submit">Submit</button>
</form>
{% endblock %}